NODE_ENV=development
APP_PORT=3000
APP_NAME=FastLogicAPI
LOG_LEVEL=debug

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/transaction_db
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transaction_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=p@ssw0rd123!

RABBITMQ_URL=amqp://localhost
RABBITMQ_EXCHANGE=domain-events
